.head_box{ 
    display:flex;
}
.head_table1{
    justify-content: center;
    align-items: center;
    color:rgb(3, 3, 3);
    font-weight:bold;
    font-size:20px;
    padding:10px;
    width:200px;
}
.head_table2{
    flex:auto;
}
.head_table3{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    color:rgb(3, 3, 3);
    font-weight:bold;
    font-size:20px;
    padding:10px;
    width:400px;
}
.head_table3_content{
    color:rgb(3, 3, 3);
    font-weight:bold;
    font-size:20px;
    padding:10px;
}

.change_img{
    display: none; 
    margin-left: auto;
} 

.change_img:hover {
    background-color: #ddd;
    color: black;
  }
.middle_box{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #B0D8FF;
    height: 300px;
    color:rgb(3, 3, 3);
    font-weight:bold;
    font-size:40px;   
    padding: 10px;
}
.middle_box_1{
    display:flex;
    justify-content:space-around;
    align-items: center;
    
}

.box_div {
    display:flex; 
    justify-content:space-around ;
    align-content: center;
    max-width:1200px;
    padding-top:20px; 
    margin:0% auto ;
    flex-wrap: wrap;
    background-color:blue;
} 

.box_div2 {
    padding:0% auto;
    align-items: center;
    flex-wrap: wrap;
    max-width: 20%;
    margin:1%;
    border-color:brown;

} 
img{
    width:100%;
    height:100%;
} 

.img{
    object-fit:contain;
    object-position: 50% 50%;
}
.caption{
    margin-top:-5px;
    padding: 0% auto; 
    width:100% ;
    height:50px ;
    background-color: #B0D8FF;
    color:black;
    text-align: center;
    font-weight:bold;
} 
@media screen and (max-width:1200px){
    .head_box{
        max-width: 100%;
    }
    .middle_box{
        max-width: 100%;
    } 
    .box_div{
        max-width: 90%;
    }
    .box_div2{
        flex: 45%;
        max-width: 45%;
        align-content: center;
    }
}
@media screen and (max-width:600px){
    .head_box{
        max-width: 100%;
    }
    .middle_box{
        max-width: 100%;
    } 
    .box_div{
        max-width: 90%;
    }
    .box_div2{
        flex: 90%;
        max-width: 90%;
        align-content: center;
        }
    .head_table3_content{
        display:none;
        } 
    .change_img{
        display:block;
        }
   
}

